body {
      background: linear-gradient(to bottom, #2d253c, #0f080f);
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
}

